<!-- <app-alert [alertType]="'Error'" [message]="'hi from client page'"></app-alert>
<app-my-button
  [btnClass]="'btn btn-danger'"
  [btnText]="'Error button'"
></app-my-button> -->
<div class="row">
  <div class="col-xl-8 mb-3">
    <div class="card">
      <div class="card-header bg-success text-white">
        Client list
        {{ currentDate | date : "dd/MM/yyyy" }}
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Serial No</th>
                <th>Company Name</th>
                <th>Person Name</th>
                <th>Contact number</th>
                <th>City</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              @for (item of clientList;track $index) {
              <tr>
                <td>{{ $index + 1 }}</td>
                <td>{{ item.companyName | titlecase }}</td>
                <td>{{ item.contactPersonName }}</td>
                <td>{{ item.contactNo }}</td>
                <td>{{ item.city }}</td>
                <td>
                  <button
                    class="btn btn-primary mx-2"
                    (click)="onEditClient(item)"
                  >
                    Edit
                  </button>
                  <button
                    class="btn btn-danger"
                    (click)="onRemoveClient(item.clientId)"
                  >
                    Remove
                  </button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 mb-3">
    <div class="card">
      <div class="card-header bg-success text-white">New Client</div>
      <div class="card-body">
        <form #form="ngForm">
          <div class="row">
            <div class="col-6">
              <label for="name">Person Name</label>
              <input
                #personName="ngModel"
                required
                minlength="5"
                type="text"
                class="form-control"
                name="contactPersonName"
                [(ngModel)]="clientObj.contactPersonName"
              />
              @if (personName.touched) {
              <div class="text-danger">
                @if (personName?.errors?.['required'] ) {
                <small>This is required field</small>
                } @if (personName?.errors?.['minlength']) {
                <small>This is required 5 characters</small>
                }
              </div>
              }
            </div>
            <div class="col-6">
              <label for="name">companyName</label>
              <input
                type="text"
                #companyName="ngModel"
                required
                [(ngModel)]="clientObj.companyName"
                name="companyName"
                class="form-control"
              />
              @if(companyName.touched) {
              <div class="text-danger">
                @if (companyName?.errors?.['required'] ) {
                <small>This is required field</small>
                }
              </div>
              }
            </div>
            <div class="col-6">
              <label for="name">contact number</label>
              <input
                #contactNumber="ngModel"
                required
                type="text"
                name="contactNo"
                [(ngModel)]="clientObj.contactNo"
                class="form-control"
              />
              @if(contactNumber.touched) {
              <div class="text-danger">
                @if (contactNumber?.errors?.['required'] ) {
                <small>This is required field</small>
                }
              </div>
              }
            </div>
            <div class="col-6">
              <label for="name">address</label>
              <textarea
                [(ngModel)]="clientObj.address"
                name="address"
                class="form-control"
              ></textarea>
            </div>
            <div class="col-6">
              <label for="name">city</label>
              <input
                type="text"
                name="city"
                [(ngModel)]="clientObj.city"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="name">pincode</label>
              <input
                type="text"
                name="pincode"
                [(ngModel)]="clientObj.pincode"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="name">state</label>
              <input
                type="text"
                name="state"
                [(ngModel)]="clientObj.state"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="name">Employee strength</label>
              <input
                type="text"
                name="employeeStrength"
                [(ngModel)]="clientObj.employeeStrength"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="name">gst no</label>
              <input
                type="text"
                name="gstNo"
                [(ngModel)]="clientObj.gstNo"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="name">registration no</label>
              <input
                type="text"
                name="regNo"
                [(ngModel)]="clientObj.regNo"
                class="form-control"
              />
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-6 text-center mt-3">
            <button class="btn btn-secondary" (click)="onResetForm()">
              Reset
            </button>
          </div>
          <div class="col-6 text-center mt-3">
            <app-my-button
              [btnClass]="'btn btn-success'"
              [btnText]="
                clientObj.clientId != 0 ? 'Update Client' : 'Save client'
              "
            ></app-my-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
