<div class="row">
  <div class="col-12 text-center">
    <div class="btn-group mb-4" role="group" aria-label="Basic example">
      <button
        type="button"
        [ngClass]="addActive('Roles')"
        class="btn"
        (click)="changeTab('Roles')"
      >
        Roles
      </button>
      <button
        type="button"
        class="btn"
        [ngClass]="addActive('Designation')"
        (click)="changeTab('Designation')"
      >
        Designation
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    @switch (currentComponent) { @case('Roles') {
    <app-roles></app-roles>
    } @case('Designation') {
    <app-designation></app-designation>
    } }
  </div>
</div>
